.feedBack {
    background-image: url("../background/background_feedback.png");
    background-size: 100%;
    text-align: center;
    // padding-bottom: 32px;
    // padding-top: 32px;

    .feedBack_list {
        display: grid;
        padding-right: 0px !important;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, 250px);
        grid-template-rows: auto, auto, auto;
        grid-auto-flow: row;
        max-width: 100%;
        grid-gap: 15px;

        @media (max-width: 579px) {
            grid-template-columns: repeat(auto-fit, 100%);
            .feedback_block {
                display: grid;
                grid-template-columns: 2fr 5fr;
                grid-gap: 10px;
                img {
                    max-width: 100% !important;
                    grid-row: 1/3;
                }
            }
        }
        .feedback_block {
            background-color: white;
            padding: 15px;
            img {
                max-width: 45%;
            }
            h3 {
                font-size: 18px;
                text-align: center;
            }
            p {
                font-size: 14px;
                text-align: justify;
            }
        }
    }
}
