.partner > div {
    display: grid;
    padding-right: 0px !important;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: auto, auto, auto;
    grid-auto-flow: row;
    max-width: 100%;
    grid-column-gap: 50px;
    h2 {
        max-width: 100%;
    }
    img {
        width: 250px;
        margin-bottom: 50px;
        margin-top: 0px;
        // margin-right: 15px;
        background-color: white;
        max-width: 250px;
    }
}
